# =========================
# .NET
# =========================
bin/
obj/
*.exe
*.dll
*.pdb
*.runtimeconfig.json
*.deps.json

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Env
# =========================
.env
.env.*

# =========================
# Training / Models (ВАЖНО)
# =========================
artifacts/
*.pt
*.pth
*.onnx

# =========================
# Data (ОЧЕНЬ ВАЖНО)
# =========================
data/raw/
data/processed/

# =========================
# Build / Releases
# =========================
dist/
release/
*.zip

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Media (оставь только если НЕ нужно)
# =========================
*.mp3
*.wav
*.jpg
*.png

# =========================
# Docs binaries (Word и тд)
# =========================
projectDocs/

exports/

# =========================
# Misc
# =========================
.dotnet_home

external/osu_private_server/upstream/

