# Python

**pycache**/
*.pyc

# Env

.env

# Artifacts (НЕ грузим обучение)

data/artifacts/
artifacts/

# Logs

*.log

# OS

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/

# OSU data

data/raw/
data/processed/

# Exports

exports/

# Docs binaries

projectDocs/

# Audio / media

*.mp3
*.wav
*.jpg
*.png

